/* Variables */

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-size: 16px;
  --main-line-height: 1.5;
  --main-letter-spacing: 0.02em;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --grey: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --dairy: #fcfcfc;
  --ctrans: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bgtrans: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --stf: cubic-bezier(0.4, 0, 0.2, 1);
}

/* BASE STYLES */

body {
  font-family: var(--font-family);
  font-size: var(--main-size);
  color: var(--slate);
  background-color: var(--white);
}

/* RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* width: 496px; */
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* MOBILE FIRST  */

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* PAGE HEADER */

/* mobile */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: block;
  height: 56px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

/* tablet */

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    /* padding: 0 16px; */
  }

  .site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }
}

/* desktop */

@media screen and (min-width: 1158px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    /* padding: 0 16px; */
  }

  .site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* LOGO */

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  /* padding-top: 16px;
  padding-bottom: 16px; */
  /* margin-right: 76px; */
}

.logo span {
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

/* MENU BUTTON */

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

@media screen and (min-width: 768px), (min-width: 1158px) {
  .mobile-menu-btn {
    display: none;
  }
}

/* NAVIGATION SECTION */

.nav-menu {
  display: none;
}

@media screen and (min-width: 768px), (min-width: 1158px) {
  .nav-menu {
    display: flex;
    gap: 40px;
  }
}

.accent-nav-link {
  color: #404bbf;
}

.nav-link {
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.accent-nav-link {
  color: #404bbf;
}

/* .nav-item {
  transition: var(--ctrans);
} */

.accent-nav-link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -1px;
}

/* CONTACTS SECTION */

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }

  .contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-item {
  display: flex;
  column-gap: 24px;
}

.contact-link {
  transition: var(--ctrans);
}

.contact-item {
  transition: var(--ctrans);
}

/* .subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-subtitle {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
} */

/* HERO SECTION */

/* mobile  */

.hero-section {
  max-width: 320px;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mobile-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.title {
  max-width: 216px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

/* hero button */

.action-btn {
  min-width: 169px;
  display: block;
  border: none;
  height: 56px;
  color: var(--white);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.action-btn:hover,
.action-btn:focus {
  background-color: var(--ocean);
}

/* tablet */

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-color: var(--grey);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet-bg.jpg);
  }

  .title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin-bottom: 36px;
  }
}

/* desktop */

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg.jpg);
  }

  .title {
    margin-bottom: 48px;
  }
}

/* FEATURES SECTION*/

/* mobile */

.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.icon-container {
  display: none;
}

.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--grey);
  margin-bottom: 8px;
}

.feature-sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* tablet */

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-subtitle {
    text-align: left;
  }
  /* .subtitle {
    text-align: left;
  } */

  .subtitle-text {
    text-align: left;
  }
}

/* desktop */

@media screen and (min-width: 1158px) {
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    flex-wrap: nowrap;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
    width: 264px;
  }

  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-sub-text {
    font-weight: 400;
  }
}

/* TEAM SECTION */

/* mobile */

.team-section {
  background-color: var(--cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 72px;
}

.team-members {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-members img {
  width: 100%;
}

.member-content {
  align-items: center;
  padding: 0px 0px 32px 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--white);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-sub-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-bottom: 8px;
}

/* social links for team members */

.social-list-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-item-team {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item-team:hover,
.social-item-team:focus {
  background-color: var(--ocean);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* border-color: #4d5ae5; */
  border-radius: 50%;
  transition: var(--bgtrans);
  background-color: var(--iris);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* tablet */

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-members {
    width: calc((100% -72px) / 4);
  }
}

/* PORTFOLIO SECTION */

/* mobile */

.port-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.card-title {
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 48px;
}

.port-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 250ms var(--stf);
}

.port-card:hover,
.port-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
  background: var(--white);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.port-img {
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  /* top: 0; */
  bottom: 0;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-card:hover .overlay-text {
  transform: translateY(0%);
}

.card-text {
  padding: 32px 16px;
  background-color: var(--white);
  border: 1px solid var(--cornflower);
  border-top: none;
}

.img-wrapper .card-title {
  text-align: left;
}

.card-subtitle {
  margin-top: 8px;
}

/* tablet */

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .port-card {
    box-sizing: border-box;
    border-top: none;
  }
}

/* desktop */

@media screen and (min-width: 1158px) {
  .port-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    border-top: none;
    padding-bottom: 32px;
  }
}

/* FOOTER SECTION */

/* mobile */

.footer {
  background-color: var(--grey);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.logo-footer {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-footer-accent {
  color: var(--cloud);
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
  text-align: left;
}

.footer-social-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms var(--stf);
}

.media-link:hover,
.media-link:focus {
  background-color: #31d0aa;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 264px;
  letter-spacing: 0.02em;
}

.media-image {
  fill: #f4f4fd;
}

/* SUBSCRIPTION SECTION */

.form-footer {
  display: flex;
  flex-direction: column;
}

.footer-text-form {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-email-input {
  background-color: transparent;
  height: 40px;
  width: 264px;
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 #00000026;
  padding: 8px 16px;
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
  margin-bottom: 16px;
}

.footer-email-input:focus-within {
  outline: none;
  border-color: var(--iris);
}

.footer-email-input::placeholder {
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--white);
  line-height: 2;
  font-style: 12px;
  opacity: 0.6;
}

.footer-subscr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  height: 40px;
  gap: 16px;
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: var(--bgtrans);
  max-width: 165px;
  font-family: var(--font-family);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.footer-subscr-button:hover,
.footer-subscr-button:focus {
  border-color: var(--ocean);
  background-color: var(--ocean);
}

.footer-icon-send {
  /* margin-left: 16px; */
  fill: var(--white);
}

/* tablet */

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
  }

  .logo-footer {
    display: inline-block;
    text-align: left;
  }

  .footer-social-title {
    text-align: left;
  }

  .footer-text-form {
    text-align: left;
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-email-input {
    margin-bottom: 0;
  }

  .footer-subscr-button {
    margin: 0;
  }
}

/* desktop */

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    padding-left: 15px;
    gap: 0;
  }

  .footer-logo-text {
    margin-right: 120px;
  }

  .footer-subscr {
    margin-left: auto;
  }
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  opacity: 0;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--dairy);
  width: 288px;
  min-height: 640px;
  transition: transform 250ms var(--stf);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
}

@media screen and (min-width: 768px), and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 16px 24px 16px;
  }
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80px;
  left: 516px;
  background-color: rgba(252, 252, 252, 1);
}

.input {
  /* width: 360px; */
  margin-bottom: 8px;
  /* display: flex;
  flex-direction: column; */
}

.close-button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  fill: var(--grey);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-modal .close-icon {
  transition: fill 250ms var(--stf);
}

.close-button-modal:hover,
.close-button-modal:focus {
  border: none;
  background-color: var(--ocean);
}

.close-button-modal:hover .close-icon,
.close-button-modal:focus .close-icon {
  fill: var(--white);
}

.mobile-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms var(--stf);
}

.mobile-btn-icon:hover,
.mobile-btn-icon:focus {
  fill: var(--white);
}

.modal-header {
  color: var(--navy-blue);
  text-align: center;
  /* margin-top: 72px; */
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-form-label {
  color: var(--light-slate);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.input-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms var(--stf);
}

.input-field:focus {
  border-color: var(--iris);
}

.input-container {
  position: relative;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  /* width: 100%; */
  /* margin-top: 4px; */
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--stf);
  fill: var(--grey);
}

.input-container:focus-within .input-icon {
  fill: var(--iris);
}

.comment-container {
  width: 100%;
  margin-bottom: 16px;
}

.comment-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms var(--stf);
}

.comment-field:focus {
  border-color: var(--iris);
}

.comment-field::placeholder {
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: var(--light-slate);
}

.terms-link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: var(--iris);
}

/* CHECKBOX */

.checkbox-container {
  /* width: 100%; */
  margin-bottom: 24px;
}

.user-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-label {
  color: var(--light-slate);
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  color: var(--light-slate);
  /* display: flex; */
  align-items: center;
  gap: 7px;
}

.checkbox-frame {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

input[type="checkbox"]:checked + .checkbox-label .checkbox-frame {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.terms-link {
  color: var(--iris);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  line-height: 1.3;
}

/* SEND BUTTON */

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background: var(--iris);
  color: white;
  border: none;
  font-size: 16px;
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: var(--bgtrans);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 16px 32px;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
  transition: background-color 250ms var(--stf);
}

.form-button:hover,
.form-button:focus,
.form-button:active {
  background-color: var(--ocean);
}

.mobile-modal {
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--stf), visibility 250ms var(--stf);
}

.mobile-menu {
  position: relative;
  background-color: var(--white);
  padding: 72px 16px 40px 16px;
  width: 320px;
  min-height: 640px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--grey);
  transition: background-color 250ms var(--stf), border 250ms var(--stf);
}

.mobile-btn-close:hover,
.mobile-btn-close:focus {
  border: none;
  background-color: var(--ocean);
  fill: var(--white);
}

.list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* margin-top: 168px; */
}

.mob-link {
  color: var(--grey);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms var(--stf);
}

.mob-link:hover,
.mob-link:focus {
  color: var(--ocean);
}

.mob-link-accent {
  color: var(--ocean);
}

.mob-list-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 168px;
}

.mob-address-link {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms var(--stf);
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: var(--ocean);
}

.acnt-color {
  color: var(--iris);
}

.mob-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

.mob-social-item {
  width: 40px;
  height: 40px;
}

.mob-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms var(--stf);
}

.mob-social-link:hover,
.mob-social-link:focus {
  background-color: var(--ocean);
}

.mob-icon {
  fill: var(--cloud);
}
